@font-face {
  font-family: IBMRegular;
  font-display: swap;
  src: url(../webfonts/IBMPlexSansArabic-Regular.ttf);
}
* {
  font-family: "IBMRegular", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
  scroll-behavior: smooth;
  line-height: normal;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background: #dddddd;
}

::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  outline: none;
  border-radius: 20px !important;
}

:target {
  scroll-margin-top: 50px;
}

button {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.row {
  margin: 0px;
}

body {
  width: 100%;
  min-height: 100vh;
  direction: rtl;
  overflow-x: hidden;
  background-color: #fefefe;
}

body,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  line-height: 1.6;
  color: #1f1f1f;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: #f7941d;
}

@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding: 0px 4px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.btn {
  display: flex;
  gap: 8px;
  align-items: center;
}
.btn i {
  font-size: 16px;
}

.btn:focus {
  box-shadow: none;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent;
}

input {
  accent-color: #f7941d !important;
}

.odometer-inside {
  direction: ltr !important;
}

.fancybox__container {
  z-index: 1999;
}

::-moz-placeholder {
  font-size: 13px;
  color: #bababa !important;
  font-weight: normal !important;
}

::placeholder {
  font-size: 13px;
  color: #bababa !important;
  font-weight: normal !important;
}

::-moz-selection {
  background-color: #f7941d;
}

::selection {
  background-color: #f7941d;
}

[type=email],
[type=number],
[type=tel],
[type=url] {
  direction: rtl;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}
.navbar-toggler .navbar-toggler-icon {
  width: 30px;
  height: 30px;
}

button {
  border: none;
  background-color: transparent;
}

.form-select,
.form-control {
  min-height: 48px;
}
.form-select:focus,
.form-control:focus {
  box-shadow: none;
}

content {
  min-height: calc(100dvh - 330px);
  display: flex;
  flex-direction: column;
}

.preloader {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader .preloaderImg {
  width: 100px;
  height: 100px;
  -webkit-mask-image: url("../assets/logo.svg");
          mask-image: url("../assets/logo.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  position: relative;
}
.preloader .preloaderImg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  z-index: 2;
  background-color: #f7941d;
  transform: translateY(100%);
  animation: slide-up 1.5s forwards;
}
.preloader .preloaderImg::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("../assets/logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0) opacity(0.5);
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.lazyDiv {
  position: relative;
  overflow: hidden;
}
.lazyDiv::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #ffffff;
  transition: transform 2s 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateX(0%);
}
.lazyDiv.oppositeDir::after {
  right: unset;
  left: 0;
}
.lazyDiv .lazy {
  position: relative;
  z-index: 1;
  width: 100%;
}
.lazyDiv.loaded::after {
  transform: translateX(100%);
}
.lazyDiv.loaded.oppositeDir::after {
  transform: translateX(-100%);
}
.lazyDiv.loaded.down::after {
  transform: translateY(100%);
}
.lazyDiv.loaded.up::after {
  transform: translateY(-100%);
}

.container {
  width: min(100% - 4px, 1440px);
  max-width: unset;
  margin: auto;
}

header {
  width: calc(100% - 32px);
  min-height: 74px;
  padding: 12px 40px;
  position: fixed;
  top: 16px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: 0.3s ease-in-out;
  z-index: 1024;
  transform: translateX(-50%);
  background-image: url("../assets/header.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.2));
}
header .container {
  padding: 15px;
  max-width: 1280px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  flex: 1;
}
header .container .header-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 50px;
  cursor: pointer;
  flex-shrink: 0;
  padding-left: 16px;
}
@media screen and (max-width: 767px) {
  header .container .header-logo {
    height: 40px;
  }
}
header .container .header-logo img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .container .menu-icon {
  width: 50px;
  height: 50px;
  padding: 4px;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}
@media (max-width: 991px) {
  header .container .menu-icon {
    display: flex;
  }
}
header .container .menu-icon img {
  width: 24px;
  aspect-ratio: 1/1;
  transform: rotate(180deg);
  transition: 0.3s;
}
header .container .nav-list {
  display: flex;
  max-width: 1280px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex: 1;
  transition: 0.3s;
}
@media (max-width: 991px) {
  header .container .nav-list {
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 84px;
    left: -110%;
    box-shadow: 0px 8px 8px 2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    border-radius: 16px;
    padding: 12px 0;
  }
  header .container .nav-list.open {
    left: 0;
  }
  header .container .nav-list li {
    width: 100%;
  }
  header .container .nav-list li::before {
    content: none !important;
  }
  header .container .nav-list li a {
    filter: none !important;
  }
  header .container .nav-list li:not(.active) a {
    color: #1f1f1f !important;
  }
  header .container .nav-list li.active a {
    color: #f7941d !important;
  }
}
header .container .nav-list li {
  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  color: #1f1f1f;
  transition: 0.3s ease-out;
  position: relative;
  isolation: isolate;
  cursor: pointer;
}
header .container .nav-list li::before {
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #f7941d;
  border-radius: 1px;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.3s ease-in-out;
  border-radius: 100px;
  opacity: 0;
}
header .container .nav-list li:hover::before, header .container .nav-list li.active::before {
  opacity: 1;
}
header .container .nav-list li:hover a, header .container .nav-list li.active a {
  color: #ffffff;
}
header .container .nav-list li a {
  color: #1f1f1f;
  text-align: start;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  transition: 0.3s ease-out;
  white-space: nowrap;
}
header .container .lang-btn {
  padding: 8px 24px;
  border-radius: 8px;
  background-color: rgba(247, 149, 29, 0.6);
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  filter: drop-shadow(0 0 2px #f7941d);
  overflow: hidden;
}
@media (max-width: 991px) {
  header .container .lang-btn {
    display: none;
  }
}
header .container .lang-btn:hover {
  color: #ffffff;
  background-color: #f7941d;
  border-color: rgba(247, 149, 29, 0.8);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
main .mainSlider {
  width: 100%;
  position: relative;
  display: flex;
  height: 100dvh;
}
main .mainSlider .swiper {
  display: flex;
  flex: 1;
}
main .mainSlider .slider .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 32px;
  background-color: #ffffff;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../assets/earth-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main .mainSlider .slider .swiper-slide .heading {
  color: #1f1f1f;
  font-size: 60px;
  font-weight: bold;
  text-wrap: nowrap;
}
main .mainSlider .slider .swiper-slide .heading span {
  color: #f7941d;
  text-wrap: nowrap;
}
main .mainSlider .slider .swiper-slide .paragraph {
  color: #1f1f1f;
  font-size: 15px;
  text-wrap: balance;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
main .mainSlider .slider .swiper-slide .btn-default {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: flex;
  justify-content: flex-start;
  transition: 0.3s ease-in-out;
}
main .mainSlider .thumbs img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s ease-in-out;
  position: relative;
}
main .mainSlider .swiperControl {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 16px;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
  main .mainSlider .swiperControl {
    width: 100%;
  }
}
main .mainSlider .swiperControl .swiperBtns {
  display: flex;
  width: 666px;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}
@media screen and (max-width: 767px) {
  main .mainSlider .swiperControl .swiperBtns {
    display: none;
  }
}
main .mainSlider .swiperControl .swiperBtns .mainSliderPrev,
main .mainSlider .swiperControl .swiperBtns .mainSliderNext {
  position: relative;
  display: flex;
  width: 36px;
  height: 36px;
  padding: 5px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 83.333px;
  border: 1px solid #1f1f1f;
  cursor: pointer;
}
main .mainSlider .swiperControl .swiperBtns .mainSliderPrev::after,
main .mainSlider .swiperControl .swiperBtns .mainSliderNext::after {
  content: "";
  width: 20px;
  height: 10.049px;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s ease-in-out;
  filter: brightness(0);
}
@media (max-width: 768px) {
  main .mainSlider .swiperControl .swiperBtns .mainSliderPrev::after,
  main .mainSlider .swiperControl .swiperBtns .mainSliderNext::after {
    width: 15px;
    height: 15px;
  }
}
main .mainSlider .swiperControl .swiperBtns .mainSliderPrev.swiper-button-disabled,
main .mainSlider .swiperControl .swiperBtns .mainSliderNext.swiper-button-disabled {
  opacity: 0.2;
}
main .mainSlider .swiperControl .mainSliderNext::after {
  background-image: url("../assets/leftArrow.svg");
}
main .mainSlider .swiperControl .mainSliderPrev::after {
  background-image: url("../assets/rightArrow.svg");
}
main .mainSlider .swiperControl .swiper-pagination {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  z-index: 999999;
}
@media (max-width: 768px) {
  main .mainSlider .swiperControl .swiper-pagination {
    justify-content: center;
    gap: 8px;
  }
}
main .mainSlider .swiperControl .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #f7941d;
  cursor: pointer;
}
main .mainSlider .swiperControl .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #f7941d;
}
main .mainSlider .swiper-slide-active img {
  animation: imageSwappingShow 0.5s;
  z-index: 2;
}
main .mainSlider .swiper-slide-active .heading {
  animation: fadeInUp 1s 0s both;
}
main .mainSlider .swiper-slide-active .paragraph {
  animation: fadeInUp 1s 0.5s both;
}
main .mainSlider .swiper-slide-active a {
  animation: fadeInUp 1s 1s both;
}
@keyframes fadeInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
main .main-content-section {
  width: 100%;
  padding: 100px 0;
  background-color: #fefefe;
}
main .main-content-section:nth-of-type(odd) .section-heading {
  position: relative;
}
main .main-content-section:nth-of-type(odd) .section-heading h2 {
  color: #ffffff;
}
main .main-content-section .section-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .main-content-section .section-heading h2 {
  font-weight: 800;
  font-size: 48px;
  position: relative;
}
main .about-section {
  width: 100%;
}
main .about-section .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}
main .about-section .container .section-body {
  width: 100%;
  display: flex;
  gap: 16px;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  main .about-section .container .section-body {
    flex-direction: column-reverse;
  }
}
main .about-section .container .section-body .imgs-conatiner {
  min-width: 300px;
  padding: 12px;
  flex: 1;
  height: 100%;
  position: relative;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .about-section .container .section-body .imgs-conatiner::after {
  content: "";
  width: 50%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px dashed rgba(247, 149, 29, 0.6);
  border-radius: 8px;
}
main .about-section .container .section-body .imgs-conatiner .img-boxes-conatainer {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
main .about-section .container .section-body .imgs-conatiner .img-box {
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 999;
  -webkit-mask: url("../assets/mask-4.svg");
          mask: url("../assets/mask-4.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: auto;
          mask-size: auto;
}
main .about-section .container .section-body .imgs-conatiner .img-box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
main .about-section .container .section-body .content-container {
  min-width: 300px;
  flex: 1;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
main .about-section .container .section-body .content-container h3 {
  color: #f7941d;
  font-weight: bold;
}
main .about-section .container .section-body .content-container p {
  line-height: 1.6;
  text-wrap: balance;
  color: #777;
}
main .about-section .container .section-body .content-container .volunteering-btn {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  main .about-section .container .section-body .content-container .volunteering-btn {
    justify-content: center;
  }
}
main .achievement-section {
  width: 100%;
  position: relative;
  padding: 100px 0;
}
main .achievement-section .light-img-box {
  position: absolute;
  top: 0;
  display: flex;
  z-index: 99999;
  animation: lightBounce 3s infinite ease-in-out alternate;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  main .achievement-section .light-img-box {
    display: none;
  }
}
main .achievement-section .light-img-box.md-light {
  height: 30%;
}
main .achievement-section .light-img-box.md-light.right-light {
  right: 90px;
}
main .achievement-section .light-img-box.md-light.left-light {
  left: 90px;
}
main .achievement-section .light-img-box.lg-light {
  height: 40%;
}
main .achievement-section .light-img-box.lg-light.left-light {
  left: 40px;
}
main .achievement-section .light-img-box.lg-light.right-light {
  right: 40px;
}
main .achievement-section .light-img-box img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
main .achievement-section .container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .achievement-section .container .section-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
}
main .achievement-section .container .section-body .sub-title {
  line-height: 1.6;
  text-align: center;
  text-wrap: balance;
  color: #ffffff;
  width: min(100%, 800px);
  margin: 0 auto;
}
main .achievement-section .container .section-body .achievement-list {
  width: 100%;
  display: flex;
  gap: 24px;
  position: relative;
  flex-wrap: wrap;
}
main .achievement-section .container .section-body .achievement-list .list-item {
  display: flex;
  min-width: 200px;
  flex: 1;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  position: relative;
}
main .achievement-section .container .section-body .achievement-list .list-item h5 {
  font-size: 40px;
  font-weight: 800;
  position: relative;
  color: rgba(247, 149, 29, 0.8);
  text-shadow: 0 0 1px #f7941d;
}
main .achievement-section .container .section-body .achievement-list .list-item span {
  width: 100%;
  font-size: 16px;
  text-align: center;
  text-wrap: balance;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-shadow: 0 0 1px #ffffff;
}
main .donation-section {
  width: 100%;
  position: relative;
}
main .donation-section .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}
main .donation-section .container .section-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 40px 0;
}
main .donation-section .container .section-body .donation-steps {
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  main .donation-section .container .section-body .donation-steps {
    gap: 50px;
  }
}
main .donation-section .container .section-body .donation-steps .step-line {
  width: 100%;
  height: 2px;
  background-color: #f7941d;
  position: relative;
}
@media screen and (max-width: 767px) {
  main .donation-section .container .section-body .donation-steps .step-line {
    display: none;
  }
}
main .donation-section .container .section-body .donation-steps .step {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  align-items: center;
}
@media screen and (max-width: 768px) {
  main .donation-section .container .section-body .donation-steps .step {
    padding: 0 8px;
  }
}
main .donation-section .container .section-body .donation-steps .step:hover .step-index::after {
  height: 140px;
}
@media screen and (max-width: 767px) {
  main .donation-section .container .section-body .donation-steps .step:hover .step-index::after {
    height: 100px;
  }
}
main .donation-section .container .section-body .donation-steps .step .step-index {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f7941d;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -40px;
  margin-bottom: 20px;
  font-size: 20px;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
  main .donation-section .container .section-body .donation-steps .step .step-index {
    top: -20px;
  }
}
main .donation-section .container .section-body .donation-steps .step .step-index::after {
  content: "";
  width: 2px;
  height: 20px;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(-50%);
  background-color: #f7941d;
  transition: 0.3s ease-in-out;
}
main .donation-section .container .section-body .donation-steps .step .step-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  align-items: center;
  background-color: #fefefe;
  filter: drop-shadow(0 0 2px #ccc);
  border-radius: 12px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  main .donation-section .container .section-body .donation-steps .step .step-content {
    width: 100%;
  }
}
main .donation-section .container .section-body .donation-steps .step .step-content h5 {
  font-weight: 800;
  font-size: 24px;
  margin: 0;
}
main .donation-section .container .section-body .donation-steps .step .step-content p {
  line-height: 1.6;
  text-align: center;
  text-wrap: balance;
  color: #777;
}
main .donation-section .container .section-body .donation-btn {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 40px;
  justify-content: center;
  min-width: 200px;
}
main .parteners-section {
  width: 100%;
  position: relative;
}
main .parteners-section .container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
main .parteners-section .container .section-body {
  width: 100%;
  position: relative;
  cursor: grab;
}
main .parteners-section .container .section-body .swiper-wrapper {
  height: 100%;
  position: relative;
}
main .parteners-section .container .section-body .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(1);
  transition: 0.3s ease-in-out;
}
main .parteners-section .container .section-body .swiper-wrapper .swiper-slide:hover {
  filter: grayscale(0);
}
main .parteners-section .container .section-body .swiper-wrapper .swiper-slide img {
  max-width: 100%;
  height: auto;
}
main .contact-section {
  width: 100%;
  position: relative;
}
main .contact-section .container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
main .contact-section .container .section-body {
  width: 100%;
  position: relative;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  main .contact-section .container .section-body {
    justify-content: center;
  }
}
main .contact-section .container .section-body .contact-info-form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  main .contact-section .container .section-body .contact-info-form-section {
    flex-direction: column;
    width: 100%;
    padding: 0 8px 20px;
  }
}
main .contact-section .container .section-body .contact-info-form-section .contact-info {
  min-width: 300px;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1019607843);
}
@media (max-width: 768px) {
  main .contact-section .container .section-body .contact-info-form-section .contact-info {
    width: 100%;
  }
}
main .contact-section .container .section-body .contact-info-form-section .contact-info h4 {
  width: 100%;
  color: var(--Dark, var(--White, #0d0d0d));
  text-align: start;
  font-family: "IBMRegular";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
main .contact-section .container .section-body .contact-info-form-section .contact-info .contact-info-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1;
  align-self: stretch;
}
main .contact-section .container .section-body .contact-info-form-section .contact-info .contact-info-list .contact-info-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
main .contact-section .container .section-body .contact-info-form-section .contact-info .contact-info-list .contact-info-list-item .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.01px;
}
main .contact-section .container .section-body .contact-info-form-section .contact-info .contact-info-list .contact-info-list-item .text p {
  color: var(--Text, #666b88);
  text-align: start;
  font-family: "IBMRegular";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
main .contact-section .container .section-body .contact-info-form-section .contact-info .contact-info-list .contact-info-list-item .text p.heading {
  color: #1f1f1f;
}
main .contact-section .container .section-body .contact-info-form-section .contact-info .contact-info-list .contact-info-list-item .icon {
  display: flex;
  height: 64px;
  min-width: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  border: 2px solid #f7941d;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
main .contact-section .container .section-body .contact-info-form-section .contact-info .contact-info-list .contact-info-list-item .icon img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 678px) {
  main .contact-section .container .section-body .contact-info-form-section .contact-info .contact-info-list .contact-info-list-item .icon {
    height: 48px;
    min-width: 48px;
  }
  main .contact-section .container .section-body .contact-info-form-section .contact-info .contact-info-list .contact-info-list-item .icon img {
    width: 20px;
    height: 20px;
  }
}
main .contact-section .container .section-body .contact-inputs-form-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  margin: auto;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  main .contact-section .container .section-body .contact-inputs-form-section {
    flex-direction: column;
    padding: 0 8px 20px;
  }
}
main .contact-section .container .section-body .contact-inputs-form-section .contact-form {
  background: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1019607843);
  padding: 42px 12px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  flex: 1;
}
@media (max-width: 768px) {
  main .contact-section .container .section-body .contact-inputs-form-section .contact-form {
    padding: 32px 0;
    width: 100%;
  }
}
main .contact-section .container .section-body .contact-inputs-form-section .contact-form .form-group {
  display: flex;
  width: 100%;
}
@media (max-width: 768px) {
  main .contact-section .container .section-body .contact-inputs-form-section .contact-form .form-group {
    flex-direction: column;
    gap: 48px;
  }
}
main .contact-section .container .section-body .contact-inputs-form-section .contact-form .form-group .inputfield {
  width: 100%;
  padding: 0 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}
main .contact-section .container .section-body .contact-inputs-form-section .contact-form .form-group .inputfield label {
  position: absolute;
  font-size: 14px;
  color: #777;
  right: 16px;
  transform: translateY(-50%);
  top: 50%;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  cursor: auto;
}
main .contact-section .container .section-body .contact-inputs-form-section .contact-form .form-group .inputfield label i {
  margin-right: 4px;
}
main .contact-section .container .section-body .contact-inputs-form-section .contact-form .form-group .inputfield label.message-label {
  top: 20%;
}
main .contact-section .container .section-body .contact-inputs-form-section .contact-form .form-group .inputfield label.h {
  top: -4px;
  color: #f7941d;
}
main .contact-section .container .section-body .contact-inputs-form-section .contact-form .form-group .inputfield input,
main .contact-section .container .section-body .contact-inputs-form-section .contact-form .form-group .inputfield textarea {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  background: none;
}
main .contact-section .container .section-body .contact-inputs-form-section .contact-form .form-group .inputfield input:focus + span::after,
main .contact-section .container .section-body .contact-inputs-form-section .contact-form .form-group .inputfield textarea:focus + span::after {
  width: calc(100% - 32px);
}
main .contact-section .container .section-body .contact-inputs-form-section .contact-form .form-group .inputfield textarea {
  padding: 16px 0;
  height: 130px;
}
main .contact-section .container .section-body .contact-inputs-form-section .contact-form .form-group .inputfield .highlight {
  width: 100%;
  height: 2px;
  background: #eeeeee;
}
main .contact-section .container .section-body .contact-inputs-form-section .contact-form .form-group .inputfield .highlight::after {
  content: "";
  width: 0;
  transition: 0.3s ease-in-out;
  left: 50%;
  height: 2px;
  background: #f7941d;
  position: absolute;
  transform: translate(-50%);
}
main .contact-section .container .section-body .contact-inputs-form-section .contact-form .form-group .inputfield.error label {
  color: red;
}
main .contact-section .container .section-body .contact-inputs-form-section .contact-form .form-group .inputfield.error .highlight::after {
  background: red;
}

footer {
  display: flex;
  width: 100%;
  padding: 40px 80px;
  flex-direction: column;
  align-items: center;
}
footer::before {
  content: none;
}
@media (max-width: 768px) {
  footer {
    padding: 8px;
  }
}
footer .container {
  z-index: 9999999;
  display: flex;
  flex-direction: row;
  gap: 0 15px;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  color: #ffffff;
}
@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
    gap: 40px;
  }
}
footer .container .about_company {
  display: flex;
  width: 368px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
@media (max-width: 768px) {
  footer .container .about_company {
    width: 100%;
  }
}
footer .container .about_company .footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  cursor: pointer;
}
@media (max-width: 768px) {
  footer .container .about_company .footerLogo {
    width: 100%;
    align-items: center;
  }
}
footer .container .about_company .footerLogo img {
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .container .about_company .about-content {
  align-self: stretch;
  color: #ffffff !important;
  text-align: start;
  font-family: "IBMRegular";
  font-style: normal;
  font-weight: 400;
  position: relative;
  text-wrap: balance;
}
footer .container .footerLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1;
}
@media (max-width: 768px) {
  footer .container .footerLinks {
    width: 100%;
  }
}
footer .container .footerLinks h3 {
  color: #f7941d;
  text-align: start;
  font-family: "IBMRegular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
footer .container .footerLinks .footerNavList {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 8px;
  align-self: stretch;
  flex-wrap: wrap;
}
footer .container .footerLinks .footerNavList li {
  display: flex;
  min-width: 150px;
  padding: 4px 8px;
  justify-content: flex-end;
  align-items: center;
}
footer .container .footerLinks .footerNavList li a {
  transition: 0.3s ease-in-out;
  flex: 1;
  color: #ffffff;
  text-align: start;
  font-family: "IBMRegular";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
footer .container .support {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1;
}
@media (max-width: 768px) {
  footer .container .support {
    width: 100%;
  }
}
footer .container .support h3 {
  color: #f7941d;
  text-align: start;
  font-family: "IBMRegular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
footer .container .support .support-contact-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
footer .container .support .support-contact-list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
footer .container .support .support-contact-list li p {
  color: #ffffff;
  text-align: start;
  font-family: "IBMRegular";
  font-style: normal;
  font-weight: 400;
}
footer .container .support .support-contact-list li img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .container .support .support-contact-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  position: relative;
}
@media (max-width: 768px) {
  footer .container .support .support-contact-social {
    width: 100%;
    justify-content: center;
  }
}
footer .container .support .support-contact-social li {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
footer .container .support .support-contact-social li a {
  transition: 0.3s ease-in-out;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 12px 13px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #ffffff;
}
footer .container .support .support-contact-social li a img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

.btn-default {
  padding: 8px 24px;
  min-width: 140px;
  padding-right: 48px;
  min-width: 140px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  border: 1px solid rgba(247, 149, 29, 0.8);
  background-color: rgba(247, 149, 29, 0.6);
  cursor: pointer;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.btn-default.no-heart {
  padding: 8px 24px;
  justify-content: center;
}
.btn-default.no-heart::before {
  content: none;
}
.btn-default::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(247, 149, 29, 0.6);
  position: absolute;
  top: 0;
  left: -110%;
  transition: 0.3s ease-in-out;
}
.btn-default::before {
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath fill='white' d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z'/%3E%3C/svg%3E");
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  transition: 0.3s ease-in-out;
  z-index: 9999;
}
.btn-default:hover {
  background-color: transparent;
  border: 1px solid #f7941d;
}
.btn-default:hover::after {
  left: 0;
  background-color: #ffffff;
}
.btn-default:hover::before {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath fill='%23f7941d' d='M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z'/%3E%3C/svg%3E");
}
.btn-default.dark-btn:hover span {
  color: #f7941d;
}
.btn-default.dark-btn:hover::after {
  background-color: #1f1f1f;
}
.btn-default span {
  display: flex;
  position: relative;
  z-index: 99999;
}

.bg-pattern-1 {
  width: 100%;
  background-image: url("../assets/bg-pattern-1.png");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  position: relative;
}
.bg-pattern-1::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.bg-pattern-1::before, .bg-pattern-1.bg-pattern-light::before {
  background-color: rgba(255, 255, 255, 0.85);
}
.bg-pattern-1.bg-pattern-dark::before {
  background-color: rgba(0, 0, 0, 0.85);
}

.bg-pattern-2 {
  width: 100%;
  background-image: url("../assets/bg-pattern-2.png");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  position: relative;
}
.bg-pattern-2::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.bg-pattern-2::before, .bg-pattern-2.bg-pattern-light::before {
  background-color: rgba(255, 255, 255, 0.85);
}
.bg-pattern-2.bg-pattern-dark::before {
  background-color: rgba(0, 0, 0, 0.85);
}

@keyframes contentSwapping {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lightBounce {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(4deg);
  }
  100% {
    transform: rotateZ(-4deg);
  }
}/*# sourceMappingURL=style.css.map */